body {
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    border: solid white thin;
}

.square {
    border: solid white thin;
    color: white;
    display: block;
    font-size: 4rem;
    text-align: center;
    line-height: 200px;
}

#winner {
    color: white;
    font-size: 3rem;
    margin-top: 100px;
    text-align: center;
}

.btn {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button {
    margin-top: 50px;
    text-align: center;
}